<h1>Admin::Dashboard#show</h1>

<div class="alert alert-info" role="alert">
  <h4>Total number of products are : <%= @products.count %></h4>
</div>

<div class="alert alert-info" role="alert">
<h4>Total number of categories are : <%= @categories.count %></h4>
</div>